#App {
  text-align: center;
}
#right{

  padding:20;
  position:relative;
  font-family: cursive;
  float:right;
  text-align: center;
  width: 50%;
  background-color: crimson;
  color:bisque;
  height:100%;
}

#body{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    height: 800px;
}

#left{
    text-align: center;
    font-size: x-large;
    font-family: cursive;
    width:50%;
}
#menu{
  width:100%;
  text-align:center;
}
#title{
    font-size: xx-large;
    font-family: cursive;
}
#vitals{
  margin:10;
  padding:10;
  text-align: left;
}
#bio{
  margin:10;
  padding:10;
  text-align: left;
}
#info{
  margin:10;
  padding: 15;

}
#charName{
  text-decoration: underline;
}